*{
    margin: 0;

}

.body{
    background-color: blueviolet;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(125deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search input{
    border: 0;
    outline: #5b548a;
    background: #ebfffc;
    padding: 10px, 35px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 16px;
    text-align: center;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 15px;
    height: 60px;
    border-radius: 50%;
    font-size: 14px;
    width: 60px;
    cursor: pointer;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}
.humidty, .wind, .rainPercent{
    font-size: 26px;
    margin-top: -6px;
}